body {
    background-image:  linear-gradient(to right, white, gray);
}
h1 {
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.1em;
    background-image: linear-gradient(to left,white, gray);
    /* font-family:'Times New Roman', Times, serif; */
    font-family: monospace;
}
li {
    list-style: circle;
    font-family: monospace;
}